PROCESO ETL EN PYTHON

Librerias que usaremos

In [39]:
import pandas as pd
from openpyxl import Workbook
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, create_engine, Table, MetaData

Extraccion

Primero se convierten los diferentes archivos a csv

In [4]:
# Se convierte el archivo json a csv
df = pd.read_json('Datasets\precios_semana_20200503.json')
df.to_csv('Datasets\precios_semana_20200503.csv', index = None)
# Se convierte el archivo excel a csv, este tiene dos hojas por lo tanto se concatena
xlsx_f1 = pd.read_excel('Datasets\precios_semanas_20200419_20200426.xlsx', sheet_name=None)
xlsx_f1_df = pd.concat(xlsx_f1, ignore_index=True)
xlsx_f1_df.to_csv('Datasets\CSV_files\precios_semanas_20200419_20200426.csv', index=None)
# Se convierte el archivo parquet a csv
prqt_f2 = pd.read_parquet('Datasets\producto.parquet', engine='fastparquet')
prqt_f2.to_csv('Datasets\CSV_files\producto.csv', index=None)

In [5]:
# Leemos los archivos csv como dataframe
sucursal = pd.read_csv('Datasets\CSV_files\sucursal.csv', delimiter=',',encoding='utf-8',index_col=1)
ps_13_04_2020 = pd.read_csv('Datasets\CSV_files\precios_semana_20200413.csv', delimiter=',',encoding='utf-16')
ps_03_05_2020= df
ps_19_04_2020= xlsx_f1_df

In [6]:
# Leemos la carga incremental en formato TXT
txt_F1 = pd.read_csv('Datasets\precios_semana_20200518.txt')
txt_F1.to_csv('Datasets\CSV_files\precios_semana_20200518.csv', index=None)
txt_F2 = pd.read_csv('Datasets\precios_semana_20200518.txt', delimiter='|')
ps_18_05_2020 = txt_F2

In [ ]:
# Creamos el DataBase 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="#tommy30"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE PryI01")

In [8]:
# Conectamos a Mysql
engine = create_engine("mysql+mysqldb://root:Aronsss134@localhost:3306/PryI01")
session = Session(engine)
Base = declarative_base()

In [9]:
# se crea la tabla 'sucursal' 
class PI1(Base):
    __tablename__ = 'sucursal'
    __table_args__ = {'extend_existing': True}

    id = Column(Integer, primary_key = True)
    comercioId = Column(Integer)
    banderaId = Column(Integer)
    banderaDescripcion = Column(String(250))
    comercioRazonSocial = Column(String(250))
    provincia = Column(String(250))
    localidad = Column(String(250))
    direccion = Column(String(250))
    lat = Column(String(250))
    Lng = Column(String(250))
    sucursalNombre = Column(String(250))
    sucursalTipo  = Column(String(250))

In [10]:
# se crea la tabla 'producto' 
class Prdt(Base):
    __tablename__ = 'producto'
    __table_args__ = {'extend_existing': True}

    id = Column(Integer, primary_key = True)
    marca = Column(String(200))
    nombre = Column(String(250))
    presentacion = Column(String(250))
    categoria1 = Column(String(250))
    categoria2 = Column(String(250))
    categoria3 = Column(String(250))

In [ ]:
# se crea la tabla 'tabla_precios'
class Precio_S(Base):
    __tablename__ = 'tabla_Precios'
    __table_args__ = {'extend_existing': True}

    
    precio = Column(String(200))
    producto_id = Column(Integer, primary_key = False)
    sucursal_id = Column(String(250))

In [67]:
# Ejecutamos el comando para crear las tablas en Mysql
if __name__ == "__main__":
    Base.metadata.create_all(engine)

Transformacion

In [12]:
# Analizamos el dataframe 'producto' y encontramos bastantes nulos en las columnas categorias, 
# habria que consultarlo antes de borrarlos 
print(prqt_f2.isna().sum()) 
# Removemos los duplicados de la tabla
producto = prqt_f2.drop_duplicates()

id                  0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

In [13]:
# Analizamos la tabla sucursal
sucursal = sucursal.drop_duplicates().dropna() #Eliminamos duplicados y los nulos
print(sucursal.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2333 entries, 1 to 9
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2333 non-null   object
 1   banderaId            2333 non-null   int64
 2   banderaDescripcion   2333 non-null   object
 3   comercioRazonSocial  2333 non-null   object
 4   provincia            2333 non-null   object
 5   localidad            2333 non-null   object
 6   direccion            2333 non-null   object
 7   lat                  2333 non-null   float64
 8   lng                  2333 non-null   float64
 9   sucursalNombre       2333 non-null   object
 10  sucursalTipo         2333 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 218.7+ KB
None

In [14]:

# Normalizamos los precios por semana
ps_13_04_2020['precio'] = ps_13_04_2020['precio'].apply(lambda x: float(x) if(type(x) != str) else ps_13_04_2020.NaN)
ps_13_04_2020['producto_id'] = ps_13_04_2020['producto_id'].apply(lambda x: str(str(x).zfill(13)))
ps_13_04_2020['sucursal_id'] = ps_13_04_2020['sucursal_id'].apply(lambda x: str(x))

In [15]:
# Normalizamos
ps_19_04_2020['precio'] = ps_19_04_2020['precio'].apply(lambda x: float(x) if(type(x) != str) else ps_19_04_2020.NaN)
ps_19_04_2020['producto_id'] = ps_19_04_2020['producto_id'].apply(lambda x: str(str(x).zfill(13)))
ps_19_04_2020['sucursal_id'] = ps_19_04_2020['sucursal_id'].apply(lambda x: str(x))
ps_19_04_2020['sucursal_id'] = ps_19_04_2020['sucursal_id'].str.rstrip('00:00:00')
# Arreglamos el orden de las columnas
def swap_col(df, col1, col2):
    col_list = list(df.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    df = df[col_list]
    return df
ps_19_04_2020 = swap_col(ps_19_04_2020, 'sucursal_id', 'producto_id')
print(ps_19_04_2020)

          precio    producto_id  sucursal_id
0         399.00  00000002288.0      2-1-092
1         299.00  00000002288.0      2-1-206
2         399.00  00000002288.0      2-2-241
3       49999.00  00000205870.0       9-1-43
4       53999.00  00000205870.0        9-2-4
...          ...            ...          ...
937447    139.99  9569753142128  2001-01-25
937448     34.99  9795403001143  2001-01-25
937449    312.50  9990385651922  2003-01-05
937450    312.50  9990385651939  2003-01-05
937451    198.90  9990385651946  2003-01-05

[937452 rows x 3 columns]

In [16]:
# Normalizamos
ps_19_04_2020['precio'] = ps_19_04_2020['precio'].apply(lambda x: float(x) if(type(x) != str) else ps_19_04_2020.NaN)
ps_03_05_2020['producto_id'] = ps_03_05_2020['producto_id'].apply(lambda x: str(str(x).zfill(13)))
ps_03_05_2020['sucursal_id'] = ps_03_05_2020['sucursal_id'].apply(lambda x: str(x))
ps_19_04_2020['sucursal_id'] = ps_19_04_2020['sucursal_id'].str.rstrip('00:00:00')
print(ps_03_05_2020)

        precio    producto_id sucursal_id
0         29.9  0000000002288     2-1-187
1         39.9  0000000002288     2-3-247
2       499.99  0000000205870     9-1-685
3       539.99  0000000205870      9-2-22
4       519.99  0000000205870      9-2-59
...        ...            ...         ...
397729  139.99  9569753142128      25-1-1
397730   34.99  9795403001143      25-1-1
397731   312.5  9990385651922       5-1-5
397732   312.5  9990385651939       5-1-5
397733   198.9  9990385651946       5-1-5

[397734 rows x 3 columns]

In [17]:
# Normalizamos 
ps_18_05_2020['precio'] = ps_18_05_2020['precio'].apply(lambda x: float(x) if(type(x) != str) else ps_18_05_2020.NaN)
ps_18_05_2020['producto_id'] = ps_18_05_2020['producto_id'].apply(lambda x: str(str(x).zfill(13)))
ps_18_05_2020['sucursal_id'] = ps_18_05_2020['sucursal_id'].apply(lambda x: str(x))

Load

In [102]:
# cargamos los datos de la tabla 'producto' hacia Mysql
producto.to_sql('producto',con = engine, if_exists='append')

72038

In [103]:
# cargamos los datos de la tabla 'sucursal' hacia Mysql
sucursal.to_sql('sucursal',con = engine, if_exists='append')

2333

In [112]:
# cargamos los datos de la tabla 'Precios_semanas' hacia Mysql
ps_13_04_2020.to_sql('Precios_semanas',con = engine, if_exists='append')

c:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Precios_semanas' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

472166

In [113]:
# Se agregan datos a la tabla 'Precios_semanas'
ps_19_04_2020.to_sql('Precios_semanas',con = engine, if_exists='append')

c:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Precios_semanas' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

937452

In [123]:
# Se agregan datos a la tabla 'Precios_semanas'
mysql.dump_replace(ps_03_05_2020, 'Precios_semanas', list_key = ['precio','producto_id', 'sucursal_id'])

Processing 1-50000 row from 397734 rows
Start delete old data at 2022-10-27 12:36:10.232078
Delete Last ['precio', 'producto_id', 'sucursal_id'] at 2022-10-27 12:36:14.507815
Processing 50001-100000 row from 397734 rows
Start delete old data at 2022-10-27 12:36:14.542786
Delete Last ['precio', 'producto_id', 'sucursal_id'] at 2022-10-27 12:36:19.482522
Processing 100001-150000 row from 397734 rows
Start delete old data at 2022-10-27 12:36:19.605618
Delete Last ['precio', 'producto_id', 'sucursal_id'] at 2022-10-27 12:36:51.806608
Processing 150001-200000 row from 397734 rows
Start delete old data at 2022-10-27 12:36:51.851476
Delete Last ['precio', 'producto_id', 'sucursal_id'] at 2022-10-27 12:36:56.793966
Processing 200001-250000 row from 397734 rows
Start delete old data at 2022-10-27 12:36:56.835781
Delete Last ['precio', 'producto_id', 'sucursal_id'] at 2022-10-27 12:37:02.382173
Processing 250001-300000 row from 397734 rows
Start delete old data at 2022-10-27 12:37:02.421715
Delete Last ['precio', 'producto_id', 'sucursal_id'] at 2022-10-27 12:37:10.018282
Processing 300001-350000 row from 397734 rows
Start delete old data at 2022-10-27 12:37:10.326547
Delete Last ['precio', 'producto_id', 'sucursal_id'] at 2022-10-27 12:37:36.849489
Processing 350001-400000 row from 397734 rows
Start delete old data at 2022-10-27 12:37:36.886459
Delete Last ['precio', 'producto_id', 'sucursal_id'] at 2022-10-27 12:37:41.709171

c:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Precios_semanas' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

(pymysql.err.DataError) (1366, "Incorrect integer value: '' for column 'precio' at row 5")
[SQL: INSERT INTO `Precios_semanas` (precio, producto_id, sucursal_id) VALUES (%(precio_m0)s, %(producto_id_m0)s, %(sucursal_id_m0)s), (%(precio_m1)s, %(producto_id_m1)s, %(sucursal_id_m1)s), (%(precio_m2)s, %(producto_id_m2)s, %(sucursal_id_m2)s), (%(precio_m3)s, %(producto_id_m3)s, %(sucursal_id_m3)s), (%(precio_m4)s, %(producto_id_m4)s, %(sucursal_id_m4)s), (%(precio_m5)s, %(producto_id_m5)s, %(sucursal_id_m5)s), (%(precio_m6)s, %(producto_id_m6)s, %(sucursal_id_m6)s), (%(precio_m7)s, %(producto_id_m7)s, %(sucursal_id_m7)s), (%(precio_m8)s, %(producto_id_m8)s, %(sucursal_id_m8)s), (%(precio_m9)s, %(producto_id_m9)s, %(sucursal_id_m9)s), (%(precio_m10)s, %(producto_id_m10)s, %(sucursal_id_m10)s), (%(precio_m11)s, %(producto_id_m11)s, %(sucursal_id_m11)s), (%(precio_m12)s, %(producto_id_m12)s, %(sucursal_id_m12)s), (%(precio_m13)s, %(producto_id_m13)s, %(sucursal_id_m13)s), (%(precio_m14)s, %(producto_id_m14)s, %(sucursal_id_m14)s), (%(precio_m15)s, %(producto_id_m15)s, %(sucursal_id_m15)s), (%(precio_m16)s, %(producto_id_m16)s, %(sucursal_id_m16)s), (%(precio_m17)s, %(producto_id_m17)s, %(sucursal_id_m17)s), (%(precio_m18)s, %(producto_id_m18)s, %(sucursal_id_m18)s), (%(precio_m19)s, %(producto_id_m19)s, %(sucursal_id_m19)s), (%(precio_m20)s, %(producto_id_m20)s, %(sucursal_id_m20)s), (%(precio_m21)s, %(producto_id_m21)s, %(sucursal_id_m21)s), (%(precio_m22)s, %(producto_id_m22)s, %(sucursal_id_m22)s), (%(precio_m23)s, %(producto_id_m23)s, %(sucursal_id_m23)s), (%(precio_m24)s, %(producto_id_m24)s, %(sucursal_id_m24)s), (%(precio_m25)s, %(producto_id_m25)s, %(sucursal_id_m25)s), (%(precio_m26)s, %(producto_id_m26)s, %(sucursal_id_m26)s), (%(precio_m27)s, %(producto_id_m27)s, %(sucursal_id_m27)s), (%(precio_m28)s, %(producto_id_m28)s, %(sucursal_id_m28)s), (%(precio_m29)s, %(producto_id_m29)s, %(sucursal_id_m29)s), (%(precio_m30)s, %(producto_id_m30)s, %(sucursal_id_m30)s), (%(precio_m31)s, %(producto_id_m31)s, %(sucursal_id_m31)s), (%(precio_m32)s, %(producto_id_m32)s, %(sucursal_id_m32)s), (%(precio_m33)s, %(producto_id_m33)s, %(sucursal_id_m33)s), (%(precio_m34)s, %(producto_id_m34)s, %(sucursal_id_m34)s), (%(precio_m35)s, %(producto_id_m35)s, %(sucursal_id_m35)s), (%(precio_m36)s, %(producto_id_m36)s, %(sucursal_id_m36)s), (%(precio_m37)s, %(producto_id_m37)s, %(sucursal_id_m37)s), (%(precio_m38)s, %(producto_id_m38)s, %(sucursal_id_m38)s), (%(precio_m39)s, %(producto_id_m39)s, %(sucursal_id_m39)s), (%(precio_m40)s, %(producto_id_m40)s, %(sucursal_id_m40)s), (%(precio_m41)s, %(producto_id_m41)s, %(sucursal_id_m41)s), (%(precio_m42)s, %(producto_id_m42)s, %(sucursal_id_m42)s), (%(precio_m43)s, %(producto_id_m43)s, %(sucursal_id_m43)s), (%(precio_m44)s, %(producto_id_m44)s, %(sucursal_id_m44)s), (%(precio_m45)s, %(producto_id_m45)s, %(sucursal_id_m45)s), (%(precio_m46)s, %(producto_id_m46)s, %(sucursal_id_m46)s), (%(precio_m47)s, %(producto_id_m47)s, %(sucursal_id_m47)s), (%(precio_m48)s, %(producto_id_m48)s, %(sucursal_id_m48)s), (%(precio_m49)s, %(producto_id_m49)s, %(sucursal_id_m49)s), (%(precio_m50)s, %(producto_id_m50)s, %(sucursal_id_m50)s), (%(precio_m51)s, %(producto_id_m51)s, %(sucursal_id_m51)s), (%(precio_m52)s, %(producto_id_m52)s, %(sucursal_id_m52)s), (%(precio_m53)s, %(producto_id_m53)s, %(sucursal_id_m53)s), (%(precio_m54)s, %(producto_id_m54)s, %(sucursal_id_m54)s), (%(precio_m55)s, %(producto_id_m55)s, %(sucursal_id_m55)s), (%(precio_m56)s, %(producto_id_m56)s, %(sucursal_id_m56)s), (%(precio_m57)s, %(producto_id_m57)s, %(sucursal_id_m57)s), (%(precio_m58)s, %(producto_id_m58)s, %(sucursal_id_m58)s), (%(precio_m59)s, %(producto_id_m59)s, %(sucursal_id_m59)s), (%(precio_m60)s, %(producto_id_m60)s, %(sucursal_id_m60)s), (%(precio_m61)s, %(producto_id_m61)s, %(sucursal_id_m61)s), (%(precio_m62)s, %(producto_id_m62)s, %(sucursal_id_m62)s), (%(precio_m63)s, %(producto_id_m63)s, %(sucursal_id_m63)s), (%(precio_m64)s, %(producto_id_m64)s, %(sucursal_id_m64)s), (%(precio_m65)s, %(producto_id_m65)s, %(sucursal_id_m65)s), (%(precio_m66)s, %(producto_id_m66)s, %(sucursal_id_m66)s), (%(precio_m67)s, %(producto_id_m67)s, %(sucursal_id_m67)s), (%(precio_m68)s, %(producto_id_m68)s, %(sucursal_id_m68)s), (%(precio_m69)s, %(producto_id_m69)s, %(sucursal_id_m69)s), (%(precio_m70)s, %(producto_id_m70)s, %(sucursal_id_m70)s), (%(precio_m71)s, %(producto_id_m71)s, %(sucursal_id_m71)s), (%(precio_m72)s, %(producto_id_m72)s, %(sucursal_id_m72)s), (%(precio_m73)s, %(producto_id_m73)s, %(sucursal_id_m73)s), (%(precio_m74)s, %(producto_id_m74)s, %(sucursal_id_m74)s), (%(precio_m75)s, %(producto_id_m75)s, %(sucursal_id_m75)s), (%(precio_m76)s, %(producto_id_m76)s, %(sucursal_id_m76)s), (%(precio_m77)s, %(producto_id_m77)s, %(sucursal_id_m77)s), (%(precio_m78)s, %(producto_id_m78)s, %(sucursal_id_m78)s), (%(precio_m79)s, %(producto_id_m79)s, %(sucursal_id_m79)s), (%(precio_m80)s, %(producto_id_m80)s, %(sucursal_id_m80)s), (%(precio_m81)s, %(producto_id_m81)s, %(sucursal_id_m81)s), (%(precio_m82)s, %(producto_id_m82)s, %(sucursal_id_m82)s), (%(precio_m83)s, %(producto_id_m83)s, %(sucursal_id_m83)s), (%(precio_m84)s, %(producto_id_m84)s, %(sucursal_id_m84)s), (%(precio_m85)s, %(producto_id_m85)s, %(sucursal_id_m85)s), (%(precio_m86)s, %(producto_id_m86)s, %(sucursal_id_m86)s), (%(precio_m87)s, %(producto_id_m87)s, %(sucursal_id_m87)s), (%(precio_m88)s, %(producto_id_m88)s, %(sucursal_id_m88)s), (%(precio_m89)s, %(producto_id_m89)s, %(sucursal_id_m89)s), (%(precio_m90)s, %(producto_id_m90)s, %(sucursal_id_m90)s), (%(precio_m91)s, %(producto_id_m91)s, %(sucursal_id_m91)s), (%(precio_m92)s, %(producto_id_m92)s, %(sucursal_id_m92)s), (%(precio_m93)s, %(producto_id_m93)s, %(sucursal_id_m93)s), (%(precio_m94)s, %(producto_id_m94)s, %(sucursal_id_m94)s), (%(precio_m95)s, %(producto_id_m95)s, %(sucursal_id_m95)s), (%(precio_m96)s, %(producto_id_m96)s, %(sucursal_id_m96)s), (%(precio_m97)s, %(producto_id_m97)s, %(sucursal_id_m97)s), (%(precio_m98)s, %(producto_id_m98)s, %(sucursal_id_m98)s), (%(precio_m99)s, %(producto_id_m99)s, %(sucursal_id_m99)s), (%(precio_m100)s, %(producto_id_m100)s, %(sucursal_id_m100)s), (%(precio_m101)s, %(producto_id_m101)s, %(sucursal_id_m101)s), (%(precio_m102)s, %(producto_id_m102)s, %(sucursal_id_m102)s), (%(precio_m103)s, %(producto_id_m103)s, %(sucursal_id_m103)s), (%(precio_m104)s, %(producto_id_m104)s, %(sucursal_id_m104)s), (%(precio_m105)s, %(producto_id_m105)s, %(sucursal_id_m105)s), (%(precio_m106)s, %(producto_id_m106)s, %(sucursal_id_m106)s), (%(precio_m107)s, %(producto_id_m107)s, %(sucursal_id_m107)s), (%(precio_m108)s, %(producto_id_m108)s, %(sucursal_id_m108)s), (%(precio_m109)s, %(producto_id_m109)s, %(sucursal_id_m109)s), (%(precio_m110)s, %(producto_id_m110)s, %(sucursal_id_m110)s), (%(precio_m111)s, %(producto_id_m111)s, %(sucursal_id_m111)s), (%(precio_m112)s, %(producto_id_m112)s, %(sucursal_id_m112)s), (%(precio_m113)s, %(producto_id_m113)s, %(sucursal_id_m113)s), (%(precio_m114)s, %(producto_id_m114)s, %(sucursal_id_m114)s), (%(precio_m115)s, %(producto_id_m115)s, %(sucursal_id_m115)s), (%(precio_m116)s, %(producto_id_m116)s, %(sucursal_id_m116)s), (%(precio_m117)s, %(producto_id_m117)s, %(sucursal_id_m117)s), (%(precio_m118)s, %(producto_id_m118)s, %(sucursal_id_m118)s), (%(precio_m119)s, %(producto_id_m119)s, %(sucursal_id_m119)s), (%(precio_m120)s, %(producto_id_m120)s, %(sucursal_id_m120)s), (%(precio_m121)s, %(producto_id_m121)s, %(sucursal_id_m121)s), (%(precio_m122)s, %(producto_id_m122)s, %(sucursal_id_m122)s), (%(precio_m123)s, %(producto_id_m123)s, %(sucursal_id_m123)s), (%(precio_m124)s, %(producto_id_m124)s, %(sucursal_id_m124)s), (%(precio_m125)s, %(producto_id_m125)s, %(sucursal_id_m125)s), (%(precio_m126)s, %(producto_id_m126)s, %(sucursal_id_m126)s), (%(precio_m127)s, %(producto_id_m127)s, %(sucursal_id_m127)s), (%(precio_m128)s, %(producto_id_m128)s, %(sucursal_id_m128)s), (%(precio_m129)s, %(producto_id_m129)s, %(sucursal_id_m129)s), (%(precio_m130)s, %(producto_id_m130)s, %(sucursal_id_m130)s), (%(precio_m131)s, %(producto_id_m131)s, %(sucursal_id_m131)s), (%(precio_m132)s, %(producto_id_m132)s, %(sucursal_id_m132)s), (%(precio_m133)s, %(producto_id_m133)s, %(sucursal_id_m133)s), (%(precio_m134)s, %(producto_id_m134)s, %(sucursal_id_m134)s), (%(precio_m135)s, %(producto_id_m135)s, %(sucursal_id_m135)s), (%(precio_m136)s, %(producto_id_m136)s, %(sucursal_id_m136)s), (%(precio_m137)s, %(producto_id_m137)s, %(sucursal_id_m137)s), (%(precio_m138)s, %(producto_id_m138)s, %(sucursal_id_m138)s), (%(precio_m139)s, %(producto_id_m139)s, %(sucursal_id_m139)s), (%(precio_m140)s, %(producto_id_m140)s, %(sucursal_id_m140)s), (%(precio_m141)s, %(producto_id_m141)s, %(sucursal_id_m141)s), (%(precio_m142)s, %(producto_id_m142)s, %(sucursal_id_m142)s), (%(precio_m143)s, %(producto_id_m143)s, %(sucursal_id_m143)s), (%(precio_m144)s, %(producto_id_m144)s, %(sucursal_id_m144)s), (%(precio_m145)s, %(producto_id_m145)s, %(sucursal_id_m145)s), (%(precio_m146)s, %(producto_id_m146)s, %(sucursal_id_m146)s), (%(precio_m147)s, %(producto_id_m147)s, %(sucursal_id_m147)s), (%(precio_m148)s, %(producto_id_m148)s, %(sucursal_id_m148)s), (%(precio_m149)s, %(producto_id_m149)s, %(sucursal_id_m149)s)]

In [131]:
# Se realiza la carga incremental del archivo.txt hacia la DB
ps_18_05_2020.to_sql('Precios_semanas',con = engine, if_exists='append')

c:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Precios_semanas' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

415293